@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 639px) {
  .blog {
    background-image: url(../src/assets/bg-pattern-intro-mobile.svg);
    background-position: top 35% right 63.95%;
    background-size: 1300px;
    height: 600px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 6.2rem;
  }
  /* background-position: top -63rem right -62rem; */
  /* background-size: 2500px; */
  /* background-position: top -16rem right -37rem; */
  /* background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%); */
  /* background-color: aqua; */
  /* background-blend-mode: normal; */
}

@media (min-width: 640px) and (max-width: 767px) {
  .blog {
    background-image: url(../src/assets/bg-pattern-intro-desktop.svg);
    background-position: top 38% right 68%;
    background-size: 1200px;
    height: 600px;
    background-repeat: no-repeat;
  }
  /* background-position: top -12rem right -23rem; */
}
@media (min-width: 768px) and (max-width: 1023px) {
  .blog {
    background-image: url(../src/assets/bg-pattern-intro-desktop.svg);
    background-position: top 40% right 63%;
    background-size: 1300px;
    height: 600px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .blog {
    background-image: url(../src/assets/bg-pattern-intro-desktop.svg);
    background-position: top 43% right 70%;
    background-size: 1600px;
    height: 600px;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1280px) {
  .blog {
    background-image: url(../src/assets/bg-pattern-intro-desktop.svg);
    background-position: top 51.5% right 72.8%;
    background-size: 3400px;
    height: 600px;
    background-repeat: no-repeat;
  }
  /* background-position: top -78rem right -73rem; */
}
@media (min-width: 640px) and (max-width: 767px) {
  .pattern {
    background-image: url(../src/assets/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 970px;
    height: 100%;
    background-position: top -32rem left -13.9rem;
  }
}
@media (max-width: 639px) {
  .pattern {
    background-image: url(../src/assets/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 602px;
    height: 100%;
    background-position: top -15rem left -6.9rem;
    border-top-right-radius: 6rem;
  }
}
